#nearMissTypesChart {
    padding: 5px 0px;
    margin: 0;
}

#recentIncidentChart {
    width: 260px;
    height: 300px;
    background-color: white;
}

#chart3 {
    width: 450px;
    height: 300px;
    background-color: white;
}

#chart4 {
    width: 450px;
    height: 300px;
    background-color: white;
}

.chartContainer {
    margin-bottom: 15px;
}


.dataLabel {
    color: black;
    text-align: center;
    font-size: 75px;
    padding-top: 10%;
}

.centerDescription {
    text-align: center;
}

h5 {
    padding-bottom: 15px;
}

/* Google Charts tooltip has a flicking bug
   This is the fix
*/
svg > g > g:last-child {
    pointer-events: none
}
