#nearMissTypesChart {
    padding: 5px 0px;
    margin: 0;
    background-color: white;
    width: 800px;
    height: 425px;
}

.lastIncident {
    font-weight: bold;
    font-size: 2em;
}

.lastIncidentDescription {
    margin-bottom: 30px;
    text-align: center;
}

#riskSeverityChart {
    width: 800px;
    height: 425px;
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
}

#departmentNearMissTypesChart {
    width: 800px;
    height: 425px;
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
}

.chartContainer {
    margin-bottom: 15px;
}


.dataLabel {
    color: black;
    text-align: center;
    font-size: 75px;
    padding-top: 10%;
}

h5 {
    padding-bottom: 15px;
}

/* Google Charts tooltip has a flicking bug
   This is the fix
*/
svg > g > g:last-child {
    pointer-events: none
}
