.formTable td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

#incompleteInput {
    display: none;
}


/*
Button
*/
button {
    background-color: #009999;
    color: #F5F5F5;
    padding: 10px 20px;
    font-weight: bold;
}

    button:hover {
        background-color: #007575;
    }
