#incompleteInput {
    display: none;
}


/**
    Form Table
*/
.formTable label {
    padding-right: 20px;
}

.formTable input,
.formTable label,
.formTable select,
.formTable textarea {
    margin-bottom: 5px;
}