.label {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

textarea {
    width: 450px;
    height: 170px;
    overflow-y: scroll;
    resize: none;
    border-radius: 7px;
    border: 1px solid #767676;
    
}

.buttonsubmit {
    font-weight: bold;
    font-family: Verdana;
    font-size: large;
    height: 46px;
    width: 240px;
    color: white;
    background-color: #007575;
    vertical-align: middle;
    text-align: center;
    align-content: center;
}

/**
    Form Table
*/
.formTable label {
    padding-right: 20px;
}

.formTable input,
.formTable label,
.formTable select,
.formTable textarea {
    margin-bottom: 5px;
}

.populated {
    background-color: lightgray;
    pointer-events: none;
}

