#passwordDiv {
    display: none;
}

.header {
    margin-bottom: 70px;
    padding-bottom: 65px;
}

.btn-primary {
    margin: 10px auto;
    padding: 8px 15px;
}

h5 {
    margin-bottom: 35px;
}

.container {
    margin-top: 10px;
}