th {
    background-color: #e9ecef !important;
}

/** 
    Filters
*/
#frmFilters {
    padding: 15px 0px;
}

.card {
    width: 500px;
    background-color: #e9ecef;
}

.card-body {
    margin-bottom: 10px;
}


select,
input,
button {
    margin: 0px 0px 7px 5px;
}