resultTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.resultTable td,
.resultTable tr,
.resultTable th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.thead-light {
    background-color: #BECDD7;
}

.resultTable td {
    background-color: white;
}

#frmFilters {
    padding: 15px 0px;
}

select,
input {
    margin-bottom: 7px;
}

/**
    Pagination
*/
.pagination a {
    color: black;
    float: left;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #009999;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}