resultTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.resultTable td,
.resultTable tr,
.resultTable th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.thead-light {
    background-color: #BECDD7;
}

.resultTable td {
    background-color: white;
}


/** 
    Filters
*/
#frmFilters {
    padding: 15px 0px;
}

#btnToggleFilters {
    margin: 0px 0px 10px 5px;
}

.card-body {
    margin-bottom: 10px;
}


select,
input,
button {
    margin: 0px 0px 7px 5px;
}


/**
    Pagination
*/
.pagination a {
    color: black;
    float: left;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #009999;
    color: white;
    border-radius: 7px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 7px;
}