#forgotCredentials {
    padding-top: 15px;
}

.header {
   margin-bottom: 70px;
}

.btn-primary {
    margin: 10px auto;
    padding: 8px 15px;
}

h5 {
    margin-bottom: 35px;
}

.error {
    margin: 0;
    padding: 0;
}

.errorInfo i {
    color: #FF0000;
    margin-right: 2px;
    display: none;
}

.invalidInput {
    background-color: #FAFAD2;
    color: #FF0000;
    width: 400px;
    padding: 15px 15px 0px 15px;
    border: 1px solid #FF0000;
    display: none;
}