#forgotCredentials {
    padding-top: 15px;
}

.header {
    margin-bottom: 70px;
    padding-bottom: 65px;
}

.btn-primary {
    margin: 10px auto;
    padding: 8px 15px;
}

h5 {
    margin-bottom: 25px;
}

.errorInfo i {
    color: #FF0000;
    margin-right: 2px;
    display: none;
}

.invalidInput {
    background-color: #FAFAD2;
    color: #FF0000;
    padding: 15px;
    border: 1px solid #FF0000;
    display: none;
}

.message {
    background-color: #CDD5C6;
    padding: 15px;
    border: 1px solid #009999;
}

#message {
    margin-bottom: 0;
}

.signInContainer {
    margin-top: 15px;
}

.otherLinks {
    margin-top: 30px;
}