/* signInTable Table */
.signInTable {
    width: 300px;
    height: 150px;
    position: absolute;
    margin-left: -150px;
    margin-top: -75px;
    top: 50%;
    left: 50%;
}

.signInTable td {
    padding: 5px;
}

#invalidInput {
    display: none;
}


/*
Button
*/
button {
    background-color: #009999;
    color: #F5F5F5;
    padding: 10px 20px;
    font-weight: bold;
}

button:hover {
    background-color: #007575;
}
