/**
Header
*/
.logo {
    background-color: #879BAA;
    float: right;
    height: 50px;
    padding: 5px;
}

.header {
    background-color: #879BAA;
    height: 100px;
}

/**
Top Navigation Bar
*/
/* Top navigation bar background*/
.topnav {
    background-color: #009999;
    overflow: hidden;
}

/* Links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #007575;
    color: #EEEEEE;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #BECDD7;
    color: #000000;
}


/**
Validation
*/
.incompleteInput {
    background-color: #FAFAD2;
    color: #FF0000;
    width: 400px;
    padding: 15px;
    border: 1px solid #FF0000;
}


.separateBorder {
    border-left: 1px solid #000000;
}


/**
Elements
*/
body {
    font-family: Verdana;
    background-color: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
}

h1 {
    color: #F5F5F5;
}

select {
    height: 30px;
}

input {
    height: 26px;
    padding: 0;
}

/* This color was darkened */
h2 {
    text-align: center;
    color: #637b8c;
}

h5 {
    text-align: center;
    color: #000000;
}

.center {
    margin: 0 auto;
    display: block;
}

textarea {
    width: 450px;
    height: 170px;
    overflow-y: scroll;
    resize: none;
}

/* This color was darkened */
label {
    color: #637b8c;
    font-weight: bold;
    font-size: 14px;
}

h6 {
    color: #007575;
    margin: 0px;
    font-size: 13px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


/**
Footer
*/
.footer {
    background-color: #879BAA;
    height: 100px;
    margin-top: 15px;
    padding-top: 10px;
}

.footer table {
    text-align: center;
}

.footer td {
    padding: 0px 10px;
}

.footer, .push {
    height: 100px;
}

.container {
    min-height: 100%;
    margin-bottom: -100px;
}
