/**
    Header
*/
.header {
    background-color: #009999;
    height: 70px;
    border-bottom: 1px solid white;
    padding: 15px;
}

.logo {
    width: 50px;
    margin: 0;
    padding: 0;
}


/**
    Top Navigation Bar
*/
/* Change the color of links on hover */
.navbar-nav a:hover:not(.active) {
    background-color: #007575;
    color: #EEEEEE;
    padding-left: 7px;
}

nav {
    margin-bottom: 15px;
    background-color: #009999;
}

.userInitials {
    border: 1px solid #EEEEEE;
    height: 35px;
    width: 35px;
    text-align: center;
    margin-right: 5px;
    font-size: smaller;
    background-color: white;
}

.navbar-text {
    color: #009999 !important;
}


/**
    Validation
*/
.error {
    font-weight: normal;
    color: #FF0000;
}

label[id*='-error'] {
    color: #FF0000;
}

#incompleteInput {
    margin-top: 7px;
}

.separateBorder {
    border-left: 1px solid #000000;
}

#incompleteWrapper {
    margin: 0 auto;
}

input.error,
input.error:focus,
select.error,
select.error:focus,
textarea.error,
textarea.error:focus {
    border: 1px solid #FF0000;
    background-color: #FAFAD2;
}

input.error {
    padding: 5px;
}

/**
    Elements
*/
body {
    font-family: Verdana;
    background-color: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
}

h1 {
    color: #F5F5F5;
}

button,
btn {
    border-radius: 7px;
}

select {
    height: 30px;
    border-radius: 7px;
    border: 1px solid #767676;
}

option {
    border-radius: 7px;
}

input {
    height: 30px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #767676;
}

h2 {
    text-align: center;
    color: #637b8c;
}

h5 {
    text-align: center;
    color: #000000;
}

.center {
    margin: 0 auto;
    display: block;
}


.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    /* These can be deleted if switching to vertical form*/
    width: 450px;
    height: 170px;
    overflow-y: scroll;
    resize: none;


    border-radius: 7px;
    border: 1px solid #767676;
    height: 100%;
}

label {
    color: #4A6273;
    font-weight: bold;
    font-size: 14px;
}

h6 {
    color: #007575;
    margin: 0px;
    font-size: 13px;
}

table {
    margin-top: 15px;
}

.buttonsubmit {
    font-weight: bold;
    font-family: Verdana;
    font-size: large;
    height: 46px;
    width: 240px;
    color: white;
    background-color: #007575;
}

.validationerrormessage {
    font-family: 'Siemens Sans';
    font-size: small;
    color: red;
    font-weight: bold;
}

/** 
    Bootstrap Elements
*/
.btn-primary,
.btn-primary:focus {
    background-color: #009999;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #007575 !important;
    border: 1px solid #879BAA ;
    box-shadow: #879BAA;
}

.btn-secondary,
.btn-secondary:focus {
    background-color: #879BAA;
    box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #6c757d;
    border: 1px solid #879BAA;
    box-shadow: #879BAA;
}

.container-fluid {
    padding: 0px 30px;
}

/**
    Footer
*/
.footer {
    background-color: #879BAA;
    margin-top: 15px;
    padding: 15px 0px;
    display: block;
    text-align: center;
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}



