.currentRolesDesc {
    margin-right: 10px;
}

table {
    background-color: white;
}

#invalidInput {
    background-color: #FAFAD2;
    color: #FF0000;
    width: 400px;
    padding: 15px;
    border: 1px solid #FF0000;
    display: none;
}